.navSection {
  background-color: rgba(255, 234, 0, 0.467);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.navlink {
  color: rgba(81, 0, 255, 0.874);
  font-weight: bold;
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
  text-decoration: none;
  margin: 0 10px;

}

.navlink:first-child {
  margin-right: auto;
  font-size: 20px;
  font-family: 'Inspiration', cursive;
  font-weight: 900;

}
